extends layouts/layout

block content
    header 
        .header-left 
            h1 Terms & Conditions
        .header-right 
        .header-center 
    nav 
    main
        p 
            a(href="/") Back home? 
    footer 
        p Copyright © 2023 EatMyRocks
        ul
        li
            a(href='tc') Terms & Conditions
        li
            a(href='pp') Privacy Policy
        li
            a(href='cu') Contact Us