main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, auto);
    grid-gap: 20px;
    padding: 120px;
    padding-top: 170px;
  }
  
  .about-section {
    text-align: center;
  }
  
  .content-section {
    margin-bottom: 40px;
  }
  
  .content-img img {
    max-width: 100%;
    height: 10rem;
  }
  
  .content-heading {
    margin-top: 20px;
  }
  
  .content-heading h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .content-text p {
    font-size: 16px;
    line-height: 1.5;
  }

    blockquote {
    padding: 20px;
    border-left: 3px solid #333333;
    background-color: #f5f5f5;
  }

  @media (max-width: 700px) {
    main {
      padding: 60px;
      padding-top: 170px;
    }
  
    .content-img img {
      height: auto;
    }
  
    .content-heading h2 {
      font-size: 20px;
    }
  
    .content-text p {
      font-size: 14px;
    }
  }