/* Main-Styling */
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, auto);
    grid-gap: 20px;
    padding-top: 120px;
  }
  
  /*Home-top Styling*/
  .home-top {
    grid-row: auto;
  }
  
  .home-centre {
    grid-row: auto;
  }
  
  .home-bottom {
    grid-row: auto;
    margin-bottom: 100px;
  }
  
  
  .home-top {
    background-image: url("https://cdn.pixabay.com/photo/2020/02/16/08/08/stones-4852854_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    height: 50rem;
  }
  
  .top-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  /*Home-centre styling */
  .home-centre {
    text-align: center;
    padding: 20px;
  }
  
  .flexbox-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .flexbox-item {
    flex-basis: 30%;
    padding: 10px;
    background-color: #ffeedff6;
  }
  
  .flexbox-content {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .flexbox-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
  }
  
  
  .white-link {
    text-decoration: none;
    color: white;
    padding: 1rem;
  }

  /*Home-bottom styling */
  .home-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .bottom-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .bottom-box {
    flex: 1 1 300px; 
    max-width: 300px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  
  .bottom-box .box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
  }
  
  .bottom-box img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
  }
  
  .bottom-box h2 {
    margin-top: 20px;
  }
  
  .bottom-box p {
    margin-top: 10px;
  }
  
  .bottom-box a {
    display: inline-block;
    margin-top: 10px;
    color: #ffaf87;
    text-decoration: underline;
  }
  
  /* Media Queries f端r Tablet-Ansicht */
  @media screen and (max-width: 768px) {
    .bottom-box {
      flex-basis: calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }
  
  /* Media Queries f端r Handy-Ansicht */
  @media screen and (max-width: 480px) {
    .bottom-box {
      flex-basis: 100%;
      max-width: 100%;
    }
    .home-bottom {
      margin-top: 0;
    }
  }
  
  /* Newsletter-Styling */
.newsletter-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  
  .newsletter-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .newsletter-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .newsletter-overlay {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .newsletter-overlay h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .newsletter-overlay p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .newsletter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .newsletter-form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .newsletter-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff5500;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .newsletter-form button:hover {
    background-color: #cc4400;
  }
  
  .newsletter-overlay p:last-child {
    font-size: 14px;
  }
  
  /* Media Queries f端r Tablet-Ansicht */
  @media screen and (max-width: 768px) {
    .newsletter-container {
      max-width: 100%;
    }
  
    .newsletter-form input[type="email"] {
      max-width: 100%;
    }
  }
  
  /* Media Queries f端r Handy-Ansicht */
  @media screen and (max-width: 480px) {
    .newsletter-container {
      margin-bottom: 0;
    }
  
    .newsletter-overlay h2 {
      font-size: 20px;
    }
  
    .newsletter-overlay p {
      font-size: 14px;
    }
  }
  