body {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Main, Footer */
  grid-template-columns: 1fr 3fr; /* Nav, Main */

  /* Define grid areas */
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
}

header {
  grid-area: header;
}

main button {
  background-color: #4CAF50; /* Hintergrundfarbe des Buttons */
  color: white; /* Textfarbe des Buttons */
  border: none; /* Keine Rahmen um den Button */
  padding: 10px 20px; /* Innenabstand des Buttons */
  text-align: center; /* Zentrierter Text im Button */
  text-decoration: none; /* Keine Textunterstreichung */
  display: inline-block; /* Button als Inline-Element anzeigen */
  font-size: 16px; /* Schriftgröße des Buttons */
  margin: 0; /* Kein Außenabstand des Buttons */
  cursor: pointer; /* Zeiger beim Überfahren des Buttons */
  float: right; /* Rechtsseitige Ausrichtung des Buttons */
  /* Weitere gewünschte Anpassungen für den Button */
}


.filter-nav {
  grid-area: nav;
  background-color: #f8f8f8;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 144px;
  margin-bottom: 197px;
  overflow: auto;
}

.filter-nav h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-nav li {
  margin-bottom: 10px;
}

.filter-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  display: block;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.filter-nav a:hover {
  background-color: #e0e0e0;
}

main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  margin-top: 170px; /* Höhe des Headers anpassen */
  margin-bottom: 50px;
}

footer {
  grid-area: footer;
}

article {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.applications, .tasteProfile, .texture {
  display: inline-block;
  padding: 2px 5px;
  margin-right: 5px;
  background-color: #f0f0f0;
  border-radius: 3px;
  font-size: 14px;
}

.h1 {
  margin-top: 10px;
  font-size: 20px;
}

.h2 {
  margin-top: 5px;
  font-size: 16px;
}

.h3 {
  margin-top: 5px;
  font-size: 14px;
}

.filter-nav ul li button {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  padding: 7px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.filter-nav ul li button:hover {
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 2fr 5fr; /* Sidebar und Hauptinhalt */
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
  }

  .filter-nav {
    position: static;
    top: auto;
    left: auto;
    bottom: auto;
    margin-top: 120px;
    margin-bottom: 0;
    overflow-y: auto;
    padding: 10px;
  }

  article {
    flex-basis: calc(100% - 20px);
  }

  main {
    margin-top: 120px;
    margin-bottom: 50px;
  }
}