
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

:root {
  --white: #ffffff;
  --gray: #f0f0f0;
  --dark-gray: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: none;
  }

  .logo {
    font-size: 2rem;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin: 0.5rem;
  }

  .hero {
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .hero-box {
    width: 80%;
    margin-top: -5rem;
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: center;
  }

  .articles {
    flex-direction: column;
    align-items: center;
  }

  .article {
    width: 80%;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid thin var(--gray);
  }

  .article-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 1rem;
  }

}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}


.header {
  display: flex;
  flex-direction: column;
}


.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: var(--dark-gray);
  text-align: center;
}


.nav {
  display: flex;
  justify-content: space-between;
}


.nav-item {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  color: var(--dark-gray);
}


.hero {
  display: flex;
}


.hero-image {
   width:60%;
   height:auto; 
   object-fit : cover; 
}


.hero-box {
   width :40%; 
   background-color : var(--white); 
   margin-top : -10rem; 
   padding :4rem; 
   box-shadow :0px -10px -10px rgba(0,0,0,0.1); 
}


.hero-title {
   font-family : 'Roboto', sans-serif; 
   font-weight : bold; 
   font-size :2.5rem; 
   color : var(--dark-gray); 
   margin-bottom :1rem; 
}


.hero-text {
   font-family : 'Roboto', sans-serif; 
   font-weight : normal; 
   font-size :1.2rem; 
   color : var(--dark-gray); 
   line-height :1.5; 
}


.articles {
   display : flex; 
   justify-content : space-between; 
   margin-top :4rem; 
}


.article {
   width :30%; 
   position : relative; 
}


.article-image {
   width :100%; 
   height :300px; 
   object-fit : cover; 
}


.article-title {
   font-family : 'Roboto', sans-serif; 
   font-weight : bold; 
   font-size :1.8rem; 
   color : var(--white); 
   position : absolute; 
   bottom :0; 
   left :0; 
   right :0; 
   background-color : rgba(0,0,0,0.7); 
   padding :1rem; 
}


.newsletter {
   background-color : var(--gray); 
   padding :4rem; 
}


.newsletter-title {
   font-family : 'Roboto', sans-serif; 
   font-weight : bold; 
   font-size :2.5rem; 
   color : var(--dark-gray); 
   text-align : center; 
}


.newsletter-form {
   display : flex; 
   justify-content : center; 
   margin-top :2rem; 
}
   .newsletter-input {
    width: 40%;
    padding: 0.5rem;
    border: solid thin var(--dark-gray);
  }
  

  .newsletter-button {
    width: 10%;
    padding: 0.5rem;
    border: none;
    background-color: var(--dark-gray);
    color: var(--white);
  }
  

  .footer {
    background-color: var(--dark-gray);
    padding: 2rem;
  }
  

  .footer-column {
    width: 25%;
  }
  

  .footer-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--white);
  }
  

  .footer-link {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: var(--white);
  }
  

  .footer-icon {
    font-size: 2rem;
  }